result
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Claude Code auto-memory
.claude/auto-memory/dirty-files
.sisyphus/

# oh-my-claudecode
.omc/
